# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
tfplan
crash.log
*_override.tf
*_override.tf.json

# Secrets
*.pem
*.key
credentials.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
